body {
    font-family: sans-serif;
}

canvas {
    border: 1px solid black;
    margin-bottom: 10px;
}

section {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 5px;
}

#chart-container {
    width: 500px;
}